.brand {
    display: flex;
    align-items: center;
    width:25%;
    margin-right: auto;
}

.logo {
    display: block;
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #f8c8e4;
    height: 18vh;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

:global([data-bs-theme="dark"]) .navbar {
    background-color: #212529; 
}

.navLink {
    color: var(--bs-danger-text-emphasis);
    font-size: 25px;
}
